book_market/src/main/resources/authors.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:tns="http://www.geekbrains.ru/spring/ws/authors"
        targetNamespace="http://www.geekbrains.ru/spring/ws/authors" elementFormDefault="qualified">

    <xs:complexType name="authorXSD">
        <xs:sequence>
            <xs:element name="id" type="xs:long"/>
            <xs:element name="first_name" type="xs:string"/>
            <xs:element name="last_name" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>