book_market/src/main/resources/categories.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:tns="http://www.geekbrains.ru/spring/ws/categories"
        targetNamespace="http://www.geekbrains.ru/spring/ws/categories" elementFormDefault="qualified">

    <xs:complexType name="categoryXSD">
        <xs:sequence>
            <xs:element name="id" type="xs:long"/>
            <xs:element name="name" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>